.header{
    width: 100%;
    height: 80px;
    background:#3b5998;
}
body{
   
    font-family:  Helvetica neue, Helvetica,arial, sans-serif;
    background: linear-gradient(white,#D3D8E8);
    width: 100%;
    height: 639px;
}
.logo{
 width: 50%; 
 padding-top: 21px;
 float: left;
 
}
.logo-text{
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    font-family: Helvetica neue, Helvetica,arial, sans-serif;
    margin-left: 170px;

}
.login{
    width: 50%;
    float: left;
    padding-top: 10px;
    
    
}
.login-label{
    color: #fff;
    font-size: 13px;
}
.login-controls{
    margin-left: 115px;
}
.forgotten{
    border: none;
    color: #fff;
    font-style: inherit;
    font-size: 13px;
}
.sub-btr{
    background: #4267b2;
    border-color:#29487d;
    color: #ffffff;
    height: 30px;
    cursor:pointer ;

}
.sub-btr:hover{
    background-color: #29487d;
}
.left-section{
    width: 50%;
    padding-left: 117px;
    float: left;
    padding-top: 69px;
}
.right-section{
    width: 41%;
    float:left;
    padding-top: 20px;
}
.image{
    width: 581px;
   
}
.para{
    font-size: 24px;
    font-weight: bold;

}.first{
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: 31px;
}
.login-right{
    margin-left: 3px;
}
.sign-bt{
    border: 0px; 
     margin-top: 12px; 
    font-size: 17px;
    color: white;
    height: 37px;
    background-color: #207e20;
     width: 174px;
}
.sign-bt:hover{
         background-color: rgb(10, 58, 10);
}




